#debug-buttons {
    display: block;
}

#start-screen {
    display: block;
}

#quiz-screen {
    display: none;
}

#question-footer {
    display: none;
}

#highscore-screen {
    display: none;
}

#results-screen {
    display: none;
}

#quiz-hud {
    display: none;
}
